# MongoDB Connection String
MONGODB_URI=tu_dien_uri
MONGO_DB_NAME=tu_dien_db

# Google Gemini API Key
GEMINI_API_KEY=tu_dien_key

# Frontend URL for CORS (Next.js dev server)
FRONTEND_URL=http://localhost:3000